

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">
      <%= @friend.first_name %>
      <%= @friend.last_name %>
    </h3>
    <h4 class="card-subtitle mb-2 text-muted">Info</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= @friend.email %></li>
      <li class="list-group-item"><%= @friend.phone %></li>
      <li class="list-group-item"><%= @friend.twitter %></li>
    </ul>
    <a href="#" class="card-link"><%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %></a>
    <a href="#" class="card-link"><%= link_to 'Back', friends_path, class:"btn btn-secondary" %></a>
  </div>
</div>
